@model List<App.ViewModels.SistemaViewModel>

@{
    ViewData["Title"] = "Sistemas";
}

<h1 class="text-center text-uppercase">@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col col-sm-12 col-md-4 mt-3">
        <div class="card rounded">
            <div class="card-body text-center text-muted">
                <span class="display-2"><i class="fas fa-plus-circle"></i></span>
            </div>
            <div class="card-footer text-center">
                <!-- Botão para acionar modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdicionarSistema">
                    Novo
                </button>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-12 col-sm-12 col-md-4 mt-3">
            <div class="card rounded">
                <div class="card-header text-center">
                    <h4 class="text-uppercase">
                        @item.NomeSistema
                    </h4>
                </div>
                <div class="card-body">
                    <div class="d-block text-center">
                        <span class="badge badge-success text-uppercase p-2">
                            @item.Situacao
                        </span>
                    </div>
                    <div class="d-blockfont-weight-bold">
                        <h6>
                            Título
                        </h6>
                        <p>
                            @item.Titulo
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6>Inicío</h6>
                            <p>@item.DataAvaliacaoInicio.ToShortDateString()</p>
                        </div>
                        <div class="col-6">
                            <h6>Fim</h6>
                            <p>@item.DataAvaliacaoFim.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </div>
    }
</div>

<partial name="_create" model="new SistemaViewModel()" />